:root {
    --color-principal: #ffffbf;
    --color-secundario: #050505;
    --color-claro: rgb(255, 255, 255);
    --color-oscuro: rgb(0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(236, 204, 204);
    font-family: "Raleway", sans-serif;
}



.img-products {
    margin: auto;
    padding: 10px;
    height: auto;
    width: 90%;
    border: 1px solid transparent;
    background-color: rgb(199, 199, 230);
    background-size: contain;
}

.banner img {
    display: block;
    border: 1px solid transparent;
    width: 100%;
    margin: auto;
    background-size: contain;
}

/* contenido del HEADER */
.logo {
    display: none;
}
    



/* banner */
.banner {
    
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-size: cover;
    background-color: #050505;
    border: 1px solid transparent;
    position: relative;
    z-index: 1;

    
}

/* lista de menu */
.nav-bar {
    display: flex;
    position: sticky;
    bottom: 0px;
}

.us-hidden {
    display: none;

}
.list-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-width: 1px;
    list-style: none;
    padding: 5px;
    margin: 0px;
    background-color: white;
    width: 100%;
}

/* clase para los items */
.item-menu {

    color: white;
    text-align: center;
    padding: 5px;
    border: 1px solid white;
    background-color: white;
    border: none;
    
    /* border-right: 2px solid palevioletred; */
    
    
}

/* ENLACES DE LOS ITEMS DENTRO DE LA CLASE-LISTA-DESORDENADA */
.item-menu a {
    background-color: white;
    border: 1px solid transparent;
    color: black;
    text-decoration: none;
    padding: 5px;
    display: flex;
    width: 100%;
    height: 4vh;
    font-size: 1em;
    list-style-type: none;
}

.list-menu li a:hover {
    background-color: rgba(119, 115, 116, 0.37);
    /* border-right: 2px solid palevioletred; */
    list-style: none;
    padding: 5px;
    
}



.list-menu > li {
    float:left ;
    
}

.list-menu li ul {
    display: none;  
    position: absolute;
    min-width: 140px;
    list-style-type: none;
}

.list-menu li:hover > ul {
    display: block;
    z-index: 10;
}



/* Se posiciona el menu abajo */
.menu-position {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  /* fin menu */




.anchor-menu {
    text-decoration: none;
    color: black;
    border: white;
}

.cont-a-prod {
    text-decoration: none;
    color: black;
}



/* FIN HEADER */

/* div para slogan */

.slogan{
    border: 1px solid transparent;
    width: 100%;
    margin: 0 auto;
    height: auto;
    color: black;
    padding: 40px;
    background-image: radial-gradient(circle, white, pink);
    
}

.slogan p {
    padding: 5px;
    font-size: 2em;
    background: none;
    text-align: center;
}

/* fin slogan */

/* seccion PRODUCTOS */

.section-prods {
    height: auto;
    background-color: var(--color-claro);
    
    border: 1px solid transparent;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */

}

.all-products {
    background-color: var(--color-claro);
    
}

.product {
    background-color: rgb(198, 187, 209);
    padding: 10px;
    margin: 10px auto;
    max-width: 95%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */
}

.title-2 {
    color: black;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
    background-color: rgb(233, 217, 220);
}

.img-products {
    margin: auto;
    padding: 10px;
    height: auto;
    width: 90%;
    border: 1px solid transparent;
    background-color: rgb(199, 199, 230);
    background-size: contain;
}

.img-products img {
    display: block;
    border: 1px solid transparent;
    width: 100%;
    margin: auto;
    background-size: contain;
}

.iframe-cont {
    width: 100%;
    width: 100%;
    height: 200px;
}

.text-products {
    border: 1px solid transparent;
    width: 90%;
    margin: auto;
    background-color: rgb(193, 192, 212);
    padding: 10px;
    

}

.no-bg{
    background: none;
}

/* FIN seccion PRODUCTOS */

/* mapa */

.map-location {
    background-color: white;
    border: 1px solid transparent;
    height: auto;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */

}

.text-desc {
    background-color: white;
    padding: 5px;
    margin: 5px;
}
/* fin mapa */

/* video */

.video-ref {
    background-color: white;
    border: 1px solid transparent;
    height: auto;
    margin: 10px;
    margin-bottom: 40px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */
}



.cont-btn-consulta {
    border: 1px solid black;
    color: black;
    padding: 15px;
    
    border-radius: 25px;
    margin: 30px auto;
    width: 50%;
    text-align: center;
    background-color: rgb(160, 211, 200);
    padding-bottom: 10px;
}

.cont-btn-consulta a{
    text-decoration: none;
    background-color: rgb(160, 211, 200);
    color: black;
    font-size: 2em;
    
}






footer {
    border: 1px solid transparent;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    background-color: rgb(236, 204, 204);
    padding-bottom: 15%; 
}

.img-footer{
    margin: 5px;
}

/* puntos de quiebre */
/* Estilos generales */

/* Estilos comunes para todos los tamaños de pantalla */

/* Estilos específicos para dispositivos con un ancho máximo de 768px, es decir, tablets */
@media screen and (min-width: 768px) {
    /* Aquí colocas los estilos específicos para tablets */
    
    /* lista de menu */

/* Se posiciona el menu abajo */
.menu-position {
    width: 100%;
    

    border: 2px solid red;
    

  }

  /* fin menu fixed */





.anchor-menu {
    text-decoration: none;
    color: black;
    border: white;
}

.cont-a-prod {
    text-decoration: none;
    color: black;
}

.text-products {
    background-color: var(--color-claro);
}




/* FIN HEADER */
}

footer {
        
    height: 200px; 
    background-color: var(--color-principal);
}

.img-footer{
    margin: 5px;
}

/* Estilos para pantallas de escritorio */

/* Estilos específicos para dispositivos con un ancho mínimo de 992/1024px, es decir, pantallas de escritorio */
@media screen and (min-width: 992px) {

    body, main {
        background-color: var(--color-claro);
    }

   .menu-position {
        position: fixed;
        top: 0;
    }

    .list-menu {
        position: relative;
        top: 0;
    }
    
    /* contenido del HEADER */

    /* barra de navegacion para pc */
    .logo {
        display: block;
        height: 60px;
        width: auto;
        position: relative;
        float: left;
        z-index: 1000;
        margin: 5px;
        background-color: var(--color-principal);
    }

    .logo img {
        
        height: 60px;
        padding: 5px;
        background-color: var(--color-principal);
    }

    h1 {
        display: inline-block;
        font-size: 1.5rem;
        position: absolute;
        width: 300px;
        margin: 20px 10px 10px 5px;
        font-family: "Raleway", sans-serif;
        background-color: var(--color-principal);
    }

        
    
    
    
    /* banner */
    .banner {
        
        width: 100%;
       border: 0;
        background-color: var(--color-principal);
    }

    .banner img {
        border: 0;
        position: relative;;
    }
    

/* acceso a nosotros */
    .us-hidden {
        display: block;

    }
    
    /* lista de menu */
    .nav-bar {
        position: fixed;
        border: 2px solid transparent;
        z-index: 1000;
        float: right;
        background-color: var(--color-secundario);
        margin: 15px 50px;
        top: 0;
        
    }

    .nav-bar li a {
        background-color: transparent;
        color: var(--color-claro);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1em;
        font-family: "Raleway", sans-serif;
    }
    
    .nav-bar li a:hover {
        color: #a60029;
        background-color: transparent;
    }
    
  

    
    
    
    .nav-bar li ul li {
        background-color: var(--color-oscuro);
        padding: 5px;
    }
    


    .list-menu{
        
        background-color: transparent;
        justify-content: space-around;
        
    
        
        
        
    }

    .item-menu{
        background-color: var(--color-oscuro);
        padding: 0;
    }

    

    .product-word::before {
        content: 'Productos';
        font-weight: 600;
        font-size: 1em;
        font-family: "Raleway", sans-serif;
    }

    .home-word::before {
        content: 'Home';
        font-weight: 600;
        font-size: 1em;
        font-family: "Raleway", sans-serif;
    }

    .contact-word::before {
        content: 'Contacto';
        font-weight: 600;
        font-size: 1em;
        font-family: "Raleway", sans-serif;
    }






    .menu-position {
        width: 500px;
        position: relative;
        
    }

    /* FIN HEADER */
    
    /* div para slogan */
    
    .slogan{
        border: 1px solid transparent;
        width: 100%;
        margin: 0 auto;
        height: auto;
        color: black;
        padding: 40px;
        background-image: radial-gradient(circle, var(--color-claro), var(--color-principal));
        
    }
    
    .slogan p {
        padding: 5px;
        font-size: 2em;
        background: none;
        text-align: center;
    }
    
    /* fin slogan */
    
    /* seccion PRODUCTOS */
    
    .section-prods {
        height: auto;
        background-color: var(--color-claro);
        
        border: 1px solid transparent;
        margin: 10px;
        padding: 10px;
        width: 100%;
        
    
    }

    .all-products{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    

    
    .product {
        background-color: var(--color-claro);
        padding: 10px;
        margin: 10px auto;
        width: 100%;

        
    }
    
    .title-2 {
        color: var(--color-oscuro);
        text-align: center;
        margin: 10px;
        padding: 10px;
        font-weight: 500;
        border: 1px solid var(--color-oscuro);
        background-color: var(--color-principal);

    }
    
    .img-products {
        margin: auto;
        padding: 10px;
        height: auto;
        width: 90%;
        border: 1px solid transparent;
        background-color: var(--color-claro);
        background-size: contain;
    }
    
 

    
    /* seccion more */
    .section-more {
        display: grid;
        grid-template-columns: auto auto;
        background-color: var(--color-claro);
    }

    /* mapa para pc*/
    
    .map-location {
        background-color: var(--color-claro);
        border: 1px solid transparent;
        height: auto;
        margin: 10px;
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */
    
    }
    
    .text-desc {
        background-color: var(--color-claro);
        padding: 5px;
        margin: 5px;
    }
    /* fin mapa */
    
    /* video para pc*/
    
    .video-ref {
        background-color: var(--color-claro);
        height: auto;
        margin: 10px;
        margin-bottom: 40px;
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */
    }
    
    /* footer para pc */
    footer {
        
        height: 200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 10px;
        background-color: var(--color-principal);
        ; 
    }

    .img-footer {
        
        background-color: var(--color-principal);
    }

    footer img {
        background-color: var(--color-principal);
    }
}


