:root {
    --color-principal: #ffffbf;
    --color-secundario: #f57433;
    --color-claro: rgb(255, 255, 255);
    --color-oscuro: rgb(0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: var(--color-oscuro);
    /* background-color: var(--color-claro); */
}

.logo {
    display: none;
}

/* barra de navegacion para movil */

.nav-bar {
    display: flex;
    position: sticky;
    bottom: 0px;
    z-index: 100;
}


/* clase nosotros escondida para movil */
.us-hidden {
    display: none;

    
}

/* lista de menu */
.list-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 5px;
    margin: 0px;
    background-color: white;
    width: 100%;
}

/* clase para los items del menu*/
.item-menu {
    text-align: center;
    padding: 5px;
}

/* enlaces de los items del menu */
.item-menu a {
    text-decoration: none;
    padding: 5px;
    display: flex;
    width: 100%;
    height: 4vh;
    font-size: 1em;
    list-style-type: none;
}

.list-menu > li {
    float:left ;
}


/* submenu */
.list-menu li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    list-style-type: none;

}

/* esto es para tablets  y escritorio */
.list-menu li:hover > ul {
    display: block;
    z-index: 10;
}
/* falta un onclick para celular */



/* Se posiciona el menu abajo */
.menu-position {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* menu alternativo */

#menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-claro);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    height: 60px;
    z-index: 9999;
}

#menu button {
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

#menu button:hover {
    background-color: var(--color-principal);
    
}

.submenu {
    display: none;
    position: fixed;
    bottom: 50px; /* Adjust to be above the menu */
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

.submenu a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.submenu a:hover {
    background-color: var(--color-principal);
}
/* fin menu alternativo */

  /* fin menu */

.anchor-menu {
    text-decoration: none;
}

.menu-position {
    display: none;
}

/* FIN HEADER */

/* banner */
.banner {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.banner img {
    display: block;
    width: 100%;
    margin: auto;
    background-size: contain;
}

.slogan {
    display: none;
}

/* seccion PRODUCTOS */
.section-prods {
    height: auto;
    background-color: var(--color-claro);


    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */

}

.section-contact {
    height: auto;
    background-color: var(--color-claro);
    width: 95%;

    margin: 10px auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */
}

.section-contact h2{
    background-color: var(--color-claro);
}

.container {

    margin: 10px auto;
    width: 95%;
    background-color: var(--color-claro);

}

form {

    border: 1px solid var(--color-oscuro);
    max-width: 600px;
    margin: 0px auto;
    padding: 10px;
    background-color: var(--color-claro);
    border-radius: 20px;
    text-align: left;


}
label {
    background-color: var(--color-claro);
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--color-claro);

}

fieldset, legend, label, input, p,
.form-group, .mb-3 {
    background-color: var(--color-claro);
    width: 100%;
}


.all-products {
    background-color: var(--color-claro);


}

.product {
    background-color: var(--color-claro);
    padding: 10px;
    margin: 10px auto;
    max-width: 95%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */

}

.title-2 {
    color: black;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
    background-color: var(--color-principal);
}

.img-products {
    margin: auto;
    padding: 10px;
    height: auto;
    width: 90%;
    background-color: transparent;
    background-size: contain;
}

.img-products img {
    display: block;
    border: 1px solid transparent;
    height: 150px;
    margin: auto;
    background-size: contain;
}

.iframe-cont {
    width: 100%;
    width: 100%;
    height: 200px;
}

.text-products {
    border: 1px solid transparent;
    width: 90%;
    margin: auto;
    background-color: transparent;
    padding: 10px;


}

.no-bg{
    background: none;
}

.item-us {
    margin: 15px;
    padding: 20px 50px;
    background-color: var(--color-principal);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */
}

.item-us > p, h2 {
    background-color: var(--color-principal);
}

/* FIN seccion PRODUCTOS */

/* mapa */

.map-location {
    background-color: white;
    border: 1px solid transparent;
    height: auto;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */

}

.text-desc {
    background-color: white;
    padding: 5px;
    margin: 5px;
}
/* fin mapa */

/* video */

.video-ref {
    background-color: white;
    border: 1px solid transparent;
    height: auto;
    margin: 10px;
    margin-bottom: 40px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */
}



.cont-btn-consulta {
    border: 1px solid black;
    color: black;
    padding: 15px;

    border-radius: 25px;
    margin: 30px auto;
    width: 50%;
    text-align: center;
    background-color: rgb(160, 211, 200);
    padding-bottom: 10px;
}

.cont-btn-consulta a{
    text-decoration: none;
    background-color: rgb(160, 211, 200);
    color: black;
    font-size: 2em;

}






footer {
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    margin-bottom: 20px;
    background-image: radial-gradient(circle, var(--color-principal));
    background-color: var(--color-oscuro);



}

footer img {
    background: none;
    margin-bottom: 30px;
    padding-bottom: 20px;

}

.img-footer{

    background: transparent;
    margin: 10px 5px;

}

/* puntos de quiebre */
/* Estilos generales */

/* Estilos comunes para todos los tamaños de pantalla */

/* Estilos específicos para dispositivos con un ancho máximo de 768px, es decir, tablets */
@media screen and (min-width: 768px) {
    /* Aquí colocas los estilos específicos para tablets */

    /* HEADER TABLES */
    


/* .nav-bar {
    display: flex;
    position: relative;
    background-color: var(--color-oscuro);
    justify-content: space-around;
    z-index: 11;
} */

.nav-bar li ul li {
    background-color: var(--color-oscuro);
    font-weight: 600;
    padding: 5px;
}

/* .nav-bar li a {
    
    justify-content: center;
    font-weight: 600;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    border: 1px solid palevioletred;
} */

.nav-bar li a:hover {
    color: var(--color-secundario); 
}

/* menu alternativo */
#menu {
    position: fixed;
    top: 0;
    color: var(--color-principal);
    left: 0;
    width: 100%;
    background-color: var(--color-oscuro);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 100;
    height: 10%;
}

#menu button {

    background-color: var(--color-oscuro);
    color: var(--color-principal);
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    
    
}

#menu button:hover {
    background-color: transparent;
    color: var(--color-secundario);
    
}

.submenu {
    top: 10%;
    width: 11%;
    left: 8%;
    height: 120px;
    background-color: var(--color-oscuro);
}

.submenu a {
    display: block;
    top: 0;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
    color: var(--color-principal);
    
}

.submenu a:hover {
    background-color: var(--color-oscuro);
    color: var(--color-secundario);
}
/* fin menu alternativo */

.us-hidden {
    display: block;
    font-weight: 600;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    padding: 1px;
    margin: 0;
    
}



.list-menu {
    width: 100%;
    margin: auto;
    background-color: var(--color-oscuro);
    position: fixed;
    top: 0;
}

.item-menu a {
    color: var(--color-principal);
}

.product-word::before {
    content: 'Productos';
    font-weight: 600;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    color: var(--color-principal);
}

.home-word::before {
    content: 'Home';
    font-weight: 600;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    color: var(--color-principal);
}

.contact-word::before {
    content: 'Contacto';
    font-weight: 600;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    color: var(--color-principal);
}

.contact-word:hover:before,
.home-word:hover:before,
.product-word:hover::before {
    color: var(--color-secundario);
}
/* FIN HEADER */

/* BODY TABLETS */

/* div para slogan */
.slogan{
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 40px;
    background-image: radial-gradient(circle, white, var(--color-principal));
    position: absolute;
    bottom: 15%; /* Posición en la parte inferior del banner */
    left: 0; /* Alineado al borde izquierdo */
    z-index: 2; /* Asegurar que esté por encima del banner */
}

.slogan p {
    padding: 5px;
    font-size: 2em;
    background: none;
    text-align: center;
}
/* fin slogan */

.text-products {
    background-color: var(--color-claro);
}

/* seccion de productos */

.all-products {
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--color-claro);
    padding: 10px;
    margin: 10px auto;
    max-width: 95%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */
}

.section-contact {

    width: 98%;
}

.product {
    background-color: var(--color-claro);
}

.item-us {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 20px 50px;
    background-color: var(--color-principal);
}

.item-us > p, h2 {
    background-color: var(--color-principal);
}
footer {


    background-image: radial-gradient(circle, white, var(--color-principal));
    margin-bottom: 0px;

}

footer img {
    background-color: transparent;
    margin: auto;
}

.img-footer{
    margin-bottom: 20px;
    background-color: transparent;
}

}

/* Estilos para pantallas de escritorio */

/* Estilos específicos para dispositivos con un ancho mínimo de 992/1024px, es decir, pantallas de escritorio */
@media screen and (min-width: 992px) {
/* HEADER PARA PC */

    

    .scrolled {
        background-color: var(--color-secundario);
        transition: background-color 0.5s ease; /* Transición suave */
        }

    header{
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
        background-color: var(--color-secundario);
    }

    h1{
        margin: 10px;
    }
    
    .list-menu {
        position: relative;
        top: 0;
    }

    /* barra de navegacion para pc */
    .logo {
        display: block;
        height: 60px;
        width: auto;
        position: relative;
        float: left;
        z-index: 12;
        margin: 0;
    }

    .logo img {

        height: 60px;
        padding: 0px;
        background-color: transparent;
    }

    .logo a {
        align-items: center; /* Alinear verticalmente */
        text-decoration: none; /* Eliminar subrayado del enlace */
        color: inherit; /* Mantener el color del texto */
    }

    h1 {
        display: inline-block;
        font-size: 1.5rem;
        position: absolute;
        width: 300px;
        margin: 17px 5px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        background-color: transparent;
    }


/* acceso a item nosotros */
    .us-hidden {
        display: block;
    }

    /* lista de menu */
    .nav-bar {
        display: block;
        position: fixed;
        z-index: 1000;
        float: right;
        background-color: transparent;
        margin: 15px 50px;
        top: 0;
    }

    .nav-bar li a {

        background-color: transparent;
        color: var(--color-principal);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1em;
        font-family: "Raleway", sans-serif;
    }

   .us-hidden{
        padding-bottom: 0px;
    }

    .nav-bar li a:hover {
        color: var(--color-oscuro);
        
    }

    .nav-bar li ul li {
        background-color: var(--color-secundario);
    }

    .list-menu{

        background-color: transparent;
        justify-content: space-around;
    }



    .menu-position {
        width: 500px;
        position: relative;
    }

    .contact-word:hover:before,
    .home-word:hover:before,
    .product-word:hover::before {
        color: var(--color-oscuro);
    }

    .menu-mobile {
        display: none;
    }

    /* FIN HEADER */

        /* banner */
        .banner {

            width: 100%;
            border: 0;
            background-color: var(--color-principal);
        }
    
        .banner img {
            border: 0;
            position: relative;;
        }

    /* div para slogan */

    .slogan{
        border: 1px solid transparent;
        width: 100%;
        margin: 0 auto;
        bottom: 0;
        height: auto;
        color: black;
        padding: 40px;
        background-image: radial-gradient(circle, var(--color-claro), var(--color-principal));

    }

    .slogan p {
        padding: 5px;
        font-size: 2em;
        background: none;
        text-align: center;
    }

    /* fin slogan */

    /* seccion PRODUCTOS */

    .section-prods {
        height: auto;
        background-color: var(--color-claro);
        margin: 5px auto;
        padding: 5px;
        width: 95%;


    }

    .section-contact {

        width: 95%;
    }

    .all-products{
        width: 100%;
        margin: 5px auto;
        display: grid;
        grid-template-columns: auto auto auto;
    }



    .product {
        background-color: var(--color-claro);
        padding: 10px;
        margin: 10px auto;
        width: 100%;


    }

    .title-2 {
        color: var(--color-oscuro);
        text-align: center;
        margin: 10px;
        padding: 10px;
        font-weight: 500;
        border: 1px solid var(--color-oscuro);
        background-color: var(--color-principal);

    }

    .img-products {
        margin: auto;
        padding: 10px;
        height: auto;
        width: 90%;
        border: 1px solid transparent;
        background-color: var(--color-claro);
        background-size: contain;
    }

    /* estilos para nosotros */
.contenedor {
    background-color: var(--third-color);
    width: 100%;
    height: 90%;
    padding: 50px;
    margin-top: 5px;


}

.centrar-contenido {
    text-align: center;


}

.text-justify{
    text-align: justify;
}

.item-us {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 20px 50px;
    background-color: var(--color-principal);
}

.item-us > p, h2 {
    background-color: var(--color-principal);
}
/* fin de estilo de nosotros */




    /* seccion more */
    .section-more {
        display: grid;
        grid-template-columns: auto auto;
        background-color: var(--color-claro);
    }

    /* mapa para pc*/

    .map-location {
        background-color: var(--color-claro);
        border: 1px solid transparent;
        height: auto;
        margin: 10px;
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */

    }

    .text-desc {
        background-color: var(--color-claro);
        padding: 5px;
        margin: 5px;
    }
    /* fin mapa */

    /* video para pc*/

    .video-ref {
        background-color: var(--color-claro);
        height: auto;
        margin: 10px;
        margin-bottom: 40px;
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aquí se define la sombra */
    }

    /* footer para pc */
    footer {

        height: 200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 10px;
        background-image: none;
        background-color: var(--color-principal);
        ;
    }

    .img-footer {
        background-image: none;
        background-color: var(--color-principal);
    }

    footer img {
        background-image: none;
        background-color: var(--color-principal);
    }
}


